body{

}
nav , nav div {
    display :inline;
}
.navbar{
    position : fixed;

}
.nav_icon{
float: left;
width: 33%;
}
nav img{
    width: 200px;
    height: auto;
    float:;
    width: 33%;
}
.nav_right{
    float: right;
    width: 33%;
}