body{
box-sizing: border-box;
}

.clearfix ::after{
content: "";
clear: both;
display: table;
}

.nav_float{

    float:left;
    width: 33.33%;
    
}

nav img{
    width: auto;
    height: 26px;
    
}
.nav_right{
    display: table;
}
